
/*-------------------------- IPHONE 5/SE: INICIO ----------------------------------------------------------------------*/
@media only screen and (min-width:320px) and (max-width:320px) and (min-height:568px) and (max-height:568px) {
    .imgHome{
        height: 30vh;
    }
    .main-text{
        display: none;
    }
    .carousel-control-prev ,.carousel-control-next{
        height: 50vh;
    }
    .imgCardServico{
        margin-left:-2.5vh;
        margin-bottom: 3vh;
        width: 47vh;
        height:25vh;
    }
    #servicos{
        height: 130vh;
    }
    .card-pro{
        margin-left:-2vh ;
    }
    .quemSomos{
        height: 500vh;
    }
    .parceiros{
        height: 200vh;
        margin-bottom: 500vh;
    }
    #footerGeral{
        margin-top: 30vh;
    }
    footer form{
        width: 50vh;
    }
   .frame1{
        display: none;    
    }
    .frame2{
        margin-top:-10vh;
        display: block;
    }
    .adm{
        height: 200vh;
    }
    .adm-serv{
        height: 700vh;
    }
    /* .back1{
        display: none;
    }
    .back2{
        display: block;
    } */
}
/* --------------------------DEITADO-----------------------------*/
@media only screen and (min-width:568px) and (max-width:568px) and (min-height:320px) and (max-height:320px){
    .imgCardServico{
        margin-left:37vh;
        margin-bottom: 3vh;
        width: 80vh;
        height:50vh;
    }
    #servicos{
        height: 230vh;
    }
    .quemSomos{
        height: 412vh;
    }
    .logoParceiros{
        margin-top:0;
    }
    #footerGeral{
        margin-top: 50vh;
    }
    footer form{
        width: 200vh;
        margin-left: 30vh;
    }
    .frame1{
        display: none;    
    }
    .frame2{
        margin-top:-10vh;
        display: block;
    }
    .footer-copyright{
        margin-top:5vh;
    }
}
/*-------------------------- ----------IPHONE 5/SE :FIM ------------------------------------------------------------------------------------*/

/* --------------------------------------IPHONE 6/7/8:INICIO------------------------------------------------------------------- */
@media only screen and (min-width:375px) and (max-width:375px) and (min-height:667px) and (max-height:667px) {
    .imgHome{
        height: 30vh;
    }
    .main-text{
        display: none;
    }
    .carousel-control-prev ,.carousel-control-next{
        height: 50vh;
    }
    .imgCardServico{
        margin-left:-1.9vh;
        margin-bottom: 3vh;
        width: 47vh;
        height:25vh;
    }
    #servicos{
        height: 130vh;
    }
    .quemSomos{
        height: 345vh;
    }
    footer form{
        width: 50vh;
        margin-left: 1vh;
    }
    .frame1{
        display: none;    
    }
    .frame2{
        margin-top:-10vh;
        display: block;
    }
    .footer-copyright{
        margin-top:5vh;
    }   
}
/* --------DEITADO------- */
@media only screen and (min-width:667px) and (max-width:667px) and (min-height:375px) and (max-height:375px){

    .imgCardServico{
        margin-left:30vh;
        margin-bottom: 3vh;
        width: 100vh;
        height:50vh;
    }
    #servicos{
        height: 230vh; 
    }
    .quemSomos{
        height: 255vh;
    }
    footer form{
        width: 100vh;
        margin-left: 20vh;
    }
    .frame1{
        display: none;    
    }
    .frame2{
        margin-top:-10vh;
        display: block;
    }
    .footer-copyright{
        margin-top:5vh;
    }
    #footerGeral{
        margin-top:60vh;
    }
    .parcas{
        height: 80vh;
    }
    .ser{
        height: 500vh;
        margin-left: 6vh;
    }   
}
/* --------------------------------------IPHONE 6/7/8:FIM--------------------------------------------------- */

/*------------------------------------- IPHONE  6/7/8 PLUS:INICIO------------------------------------------------------ */
 @media only screen and (min-width:414px) and (max-width:414px) and (min-height:736px) and (max-height:736px) {
    .imgHome{
        height: 30vh;
    }
    .main-text{
        display: none;
    }
    .carousel-control-prev ,.carousel-control-next{
        height: 50vh;
    }
    .imgCardServico{
        margin-left:2.5vh;
        margin-bottom: 3vh;
        width: 38vh;
        height:25vh;
    }
    #servicos{
        height: 120vh;
    }
    .quemSomos{
        height: 265vh;
    }
    footer form{
        width: 40vh;
        margin-left: 6vh;
    }
    .frame1{
        display: none;    
    }
    .frame2{
        margin-top:-10vh;
        display: block;
    }
    #footerGeral{
        margin-top:10vh;
    }
    .footer-copyright{
        margin-top:5vh;
    }
}
/*------------------DEITADO------------- */
@media only screen and (min-width:736px) and (max-width:736px) and (min-height:414px) and (max-height:414px){
    .imgCardServico{
        margin-left:30vh;
        margin-bottom: 3vh;
        width: 100vh;
        height:50vh;
    }
    #servicos{
        height: 230vh;
    }
    .quemSomos{
        height: 230vh;
    }
    footer form{
        width: 100vh;
        margin-left: 10vh;
    }
    .frame1{
        display: none;    
    }
    .frame2{
        margin-top:-10vh;
        display: block;
    }
    .footer-copyright{
        margin-top:5vh;
    }
    #footerGeral{
        margin-top:60vh;
    }
    .parcas{
        height: 80vh;
    }   
}
/*------------------------------------- IPHONE  6/7/8 PLUS:FIM------------------------------------------------------ */

/*------------------------------------- IPHONE X:INICIO------------------------------------------------------ */
@media only screen and (min-width:375px) and (max-width:375px) and (min-height:812px) and (max-height:812px) {
    .imgHome{
        height: 30vh;
    }
    .main-text{
        display: none;
    }
    .carousel-control-prev ,.carousel-control-next{
        height: 50vh;
    }
    .imgCardServico{
        margin-left:-1.5vh;
        margin-bottom: 3vh;
        width: 38vh;
        height:25vh;
    }
    #servicos{
        height: 120vh;
    }
    .quemSomos{
        height: 280vh;
    }
    footer form{
        width: 35vh;
        margin-left: 4vh;
    }
    .frame1{
        display: none;    
    }
    .frame2{
        margin-top:-10vh;
        display: block;
    }
    #footerGeral{
        margin-top:10vh;
    }
    .footer-copyright{
        margin-top:5vh;
    }
}
/* -------------------------------DEITADO------------------------- */
@media only screen and (min-width:812px) and (max-width:812px) and (min-height:375px) and (max-height:375px){
    .imgCardServico{
        margin-left:50vh;
        margin-bottom: 3vh;
        width: 100vh;
        height:50vh;
    }
    #servicos{
        height: 230vh;
    }
    .quemSomos{
        height: 230vh;
    }
    footer form{
        width: 100vh;
        margin-left: 40vh;
    }
    .frame1{
        display: none;    
    }
    .frame2{
        margin-top:-10vh;
        display: block;
    }
    .footer-copyright{
        margin-top:5vh;
    }
    #footerGeral{
        margin-top:60vh;
    }
    .parcas{
        height: 80vh;
    }   
}
/*------------------------------------- IPHONE X:FIM------------------------------------------------------ */
/*------------------------------------- IPAD:INICIO------------------------------------------------------ */
@media only screen and (min-width:768px) and (max-width:768px) and (min-height:1024px) and (max-height:1024px) {
    .imgHome{
        height: 50vh;
    }
    .main-text{
        margin-top: -10vh;
    }
    .carousel-control-prev ,.carousel-control-next{
        height: 50vh;
    }
    .imgCardServico{
        margin-left:8vh;
        margin-bottom: 3vh;
        width: 50vh;
        height:30vh;
    }
    #servicos{
        height: 135vh;
    }
    .quemSomos{
        height: 100vh;
    }
    footer form{
        width: 60vh;
        margin-left: 4vh;
    }
    .frame1{
        display: none;    
    }
    .frame2{
        margin-top:-5vh;
        display: block;
    }
    #footerGeral{
        margin-top:10vh;
    }
    .footer-copyright{
        margin-top:5vh;
    }
}
/*------------------------------------- IPAD:FIM------------------------------------------------------ */

/*------------------------------------- IPAD PRO:INICIO------------------------------------------------------ */
